<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.persistence.mapper.MainMapper">


<select resultType="int" id="emailCheck">
SELECT COUNT(1) FROM USER_INFO WHERE EMAIL = #{email}
</select>

<insert id="insertUser" parameterType="userDTO">
INSERT INTO pil_db.`USER_INFO` (`USER_NO`, `EMAIL`, `PASSWORD`, `REG_DATE`) 
VALUES ((select max(USER_NO)+1 from pil_db.`USER_INFO` a),#{email},#{password},NOW())
</insert>

<select id="login"  resultType="userDTO" parameterType="userDTO">
SELECT USER_NO AS userNo, EMAIL, PASSWORD, REG_DATE AS regDate, CONFIRM FROM USER_INFO WHERE EMAIL = #{email} AND PASSWORD = #{password}
</select>

<select id="getUserNo" resultType="userDTO" parameterType="String">
SELECT USER_NO AS userNo FROM pil_db.`USER_INFO` WHERE EMAIL = #{email}
</select>

<update id="updateConfirm" parameterType="String">
UPDATE pil_db.`USER_INFO` SET CONFIRM = "Y" WHERE USER_NO = #{userNo}
</update>

<update id="changePassword" parameterType="userDTO">
UPDATE pil_db.`USER_INFO` SET PASSWORD = #{password} WHERE USER_NO = #{userNo}
</update>

<delete id="deletUser" parameterType="String">
DELETE FROM pil_db.`USER_INFO` WHERE USER_NO = #{userNo}
</delete>


</mapper>