<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.persistence.mapper.MainMapper">


<select resultType="int" id="emailCheck">
SELECT COUNT(1) FROM USER_INFO WHERE EMAIL = #{email}
</select>

<insert id="insertUser" parameterType="userDTO">
INSERT INTO pil_db.`USER_INFO` (`USER_NO`, `EMAIL`, `PASSWORD`, `REG_DATE`) 
VALUES ((select max(USER_NO)+1 from pil_db.`USER_INFO` a),#{email},#{password},NOW())
</insert>

<select id="login"  resultType="userDTO" parameterType="userDTO">
SELECT * FROM USER_INFO WHERE EMAIL = #{email} AND PASSWORD = #{password}
</select>
</mapper>