<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.persistence.mapper.RecommendMapper">

<!-- <select id="" resultType="RecommendDTO">
SELECT * FROM pil_db.`RECOMMEND`;
</select> -->
<insert id="insertRecommend" parameterType="RecommendDTO">
INSERT INTO pil_db.`RECOMMEND`(
RCD_NO,		REG_USER_NO, 	TITLE, 
CONTENT, 	SIDO, 			SIGUNGU, 		INDS_NAME, 
REG_DATE, 	SIDO_NAME, 		SIGUNGU_NAME, 	INDS_CD 	
) VALUES (
			(SELECT IFNULL(max(RCD_NO)+1 ,10000) FROM pil_db.`RECOMMEND` a),
			#{regUserNo},
			#{title},
			#{content},
			#{sido},
			#{sigungu},
			#{indsName},
			NOW(),
			#{sidoName},
			#{sigunguName},
			#{indsCd}
		)
</insert>

<select id="getList" resultType="RecommendDTO">
SELECT RCD_NO AS rcdNo, REG_USER_NO AS regUserNo, TITLE, CONTENT, SIDO, SIGUNGU, 
INDS_NAME AS indsName, A.REG_DATE AS regDate, SIDO_NAME AS sidoName,SIGUNGU_NAME AS sigunguName, 
INDS_CD AS indsCd, EMAIL FROM pil_db.`RECOMMEND` A, pil_db.`USER_INFO` B WHERE B.USER_NO = A.REG_USER_NO
ORDER BY A.REG_DATE DESC LIMIT 7
</select>

<select id="addList" resultType="RecommendDTO" parameterType="int">
SELECT RCD_NO AS rcdNo, REG_USER_NO AS regUserNo, TITLE, CONTENT, SIDO, SIGUNGU, 
INDS_NAME AS indsName, A.REG_DATE AS regDate, SIDO_NAME AS sidoName,SIGUNGU_NAME AS sigunguName, 
INDS_CD AS indsCd, EMAIL FROM pil_db.`RECOMMEND` A, pil_db.`USER_INFO` B WHERE B.USER_NO = A.REG_USER_NO
ORDER BY A.REG_DATE DESC LIMIT #{start},7
</select>

</mapper>